aiofiles==0.6.0
aiohttp
asyncio==3.4.3
circlify==0.13
colorthief==0.2.1
discord.py==2.3.2
emoji==1.2.0
ffmpeg==1.4
geopandas==0.9.0
imageio==2.9.0
mysql-connector-python==9.1.0
pandas==2.0.3
pillow
matplotlib
psutil==5.8.0
seaborn==0.11.1
wikiquote==0.1.14
wikipedia-api==0.5.4
async-timeout==4.0.2